<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daxinli.tempmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".musicTouch.myApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <service
            android:name=".MutigameModule.service.NetworkService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".musicTouch.MutiGameActivity"
            android:launchMode="singleTask" />
        >
        <activity android:name=".musicTouch.GameActivity" />
        <activity android:name=".musicTouch.AboutActivity" />
        <activity android:name=".musicTouch.HelpActivity" />
        <activity android:name=".musicTouch.WelcomeActivity"></activity>
        <activity android:name=".musicTouch.SettingsActivity" />
        <activity android:name=".musicTouch.LoginActivity" />
        <activity android:name=".musicTouch.RegisterActivity" />
        <activity
            android:name=".MutigameModule.Activity.Composition.CompositionActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MutigameModule.Activity.Composition.WaitActivity" />
        <activity
            android:name=".MutigameModule.Activity.CreateAHomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MutigameModule.Activity.EnterAHomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".MutigameModule.Activity.Composition.MusicOverActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MutigameModule.Activity.gameplay.ChooseMusicActivity" />
        <activity android:name=".MutigameModule.Activity.gameplay.MutiPlayActivity" />
        <activity android:name=".musicTouch.TestActivity" />
        <activity android:name=".MutigameModule.Activity.gameplay.MutiGameResultActivity" />
        <activity android:name=".musicTouch.SingleChooseActivity"></activity>
        <activity android:name=".Test.HorizontalCoordinatorNtbActivity"></activity>
        <activity android:name=".Test.HorizontalNtbActivity"></activity>
        <activity android:name=".Test.MainActivity">
        </activity>
        <activity android:name=".Test.TopHorizontalNtbActivity" />
        <activity android:name=".Test.VerticalNtbActivity" />
        <activity android:name=".Test.SamplesNtbActivity" />
        <activity
            android:name=".musicTouch.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>